
/* ==========================================================================
  PROFILE VIEW - LAYOUT
========================================================================== */

.profile-view {
    width: 100vw;
}

/* ==========================================================================
  PROFILE VIEW - ROWS
========================================================================== */

.profile-view_row {
    width: 100%;
}

/* ==========================================================================
  PROFILE VIEW - COLUMNS
========================================================================== */

.profile-view_row_col-1 {
    width: 557px;
    min-width: 300px;
    max-width: 350px;
}

.profile-view_row_col-1-sub {
    width: 100%;
}

.profile-view_row_col-2 {

}

.profile-view_row_col-3 {
    /* width: 545px; */
    min-width: 300px;
    max-width: 350px;
}

/* ==========================================================================
  PROFILE VIEW - OrcaSoft LOGO
========================================================================== */

.profile-view_logo {
    width: 24px;
    min-width: 300px;
    height: 300px;
}

/* ==========================================================================
  PROFILE VIEW - Profil Image
========================================================================== */

.profile-view_profile_image {
    width: 36px;
    min-width: 120px;
    max-width: 240px;
    height: 36px;
    min-height: 120px;
    max-height: 240px;
}

/* ==========================================================================
  PROFILE VIEW - Avatar Items Liste (offene Stellenausschreibungen / Bewerbungen)
========================================================================== */

.profile-view_avatar-items {
   width: 100%;
}

/* ==========================================================================
  PROFILE VIEW - Headings
========================================================================== */

h2, h4 {
    width: 100%;
}

/* ==========================================================================
  PROFILE VIEW - Profil Informationen Form 1
========================================================================== */

.profile-view_profile_form-1 {
    width: 100%;
}

/* ==========================================================================
  PROFILE VIEW - Profil Informationen Form 1
========================================================================== */

.profile-view_profile_form-2 {
    width: 100%;
}

/* ==========================================================================
  PROFILE VIEW - Buttons
========================================================================== */

.profile-view_button-senden {
    cursor: pointer;
}

.profile-view_button-abbrechen {
    cursor: pointer;
}

.profile-view_button-delete {
    background-color: indianred;
    color: white;
    cursor: pointer;
}

/* ==========================================================================
  SEARCH VIEW - Item
========================================================================== */

vaadin-item[selected]::part(checkmark) {
    opacity: 0;
}