
/* ==========================================================================
  REGISTRATION VIEW - LAYOUT
========================================================================== */

.registration-view {
    width: 100vw;
}

/* ==========================================================================
  REGISTRATION VIEW - ROWS
========================================================================== */

.registration-view_row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* ==========================================================================
  REGISTRATION VIEW - COLUMNS
========================================================================== */

.registration-view_row_col-1 {
    width: 50%;
    display: flex;
    align-items: center;
}

.registration-view_row_col-2 {
    display: block;
    width: 50%%;
}

/* ==========================================================================
  REGISTRATION VIEW - Progress Bar
========================================================================== */

.registration-view_progress-bar {
    width: 448px;
}

/* ==========================================================================
  REGISTRATION VIEW - BUTTON ("Zurück")
========================================================================== */

.registration-view_button-back {

}

.registration-view_button:hover {
    cursor: pointer;
}

/* ==========================================================================
  REGISTRATION VIEW - HEADING
========================================================================== */

.registration-view_row_col-2 h1 {
    display: block;
    width: 100%;
    text-align: center;
}

/* ==========================================================================
  REGISTRATION VIEW - RADIO GROUP
========================================================================== */

.registration-view_radio-group {

}

/* ==========================================================================
  REGISTRATION VIEW - NAME FIELD
========================================================================== */

.registration-view_name-field {
    width: 250px;
}

/* ==========================================================================
  REGISTRATION VIEW - EMAIL FIELD
========================================================================== */

.registration-view_email-field {
    width: 250px;
}

/* ==========================================================================
  REGISTRATION VIEW - PASSWORD FIELD
========================================================================== */

.registration-view_passwort-field {
    width: 250px;
}

.registration-view_passwort-check-field {
    width: 250px;
}

/* ==========================================================================
  REGISTRATION VIEW - OPTIONS FIELD
========================================================================== */

.registration-view_options-field {
    width: 250px;
}

/* ==========================================================================
  REGISTRATION VIEW - BUTTON ("Registrieren")
========================================================================== */

.registration-view_button-register {
    width: 170px;
}

/* ==========================================================================
  REGISTRATION VIEW - REGISTRATION DIALOG
========================================================================== */

.registration-view_registration-dialog {
    width: 300px;
}

/* ==========================================================================
  REGISTRATION VIEW - OrcaSoft LOGO
========================================================================== */

.register-view_logo {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto 0 0;
}

/* ==========================================================================
  REGISTRATION VIEW - Icon (Success & Fail)
========================================================================== */

.icon-success {
    width: 100px;
    height: 100px;
}

.icon-fail {
    width: 100px;
    height: 100px;
}