
/* ==========================================================================
  SEARCH VIEW - LAYOUT
========================================================================== */

.search-view {
    width: 100vw;
}

/* ==========================================================================
  SEARCH VIEW - ROWS
========================================================================== */

.search-view_row {
    width: 100%;
}

/* ==========================================================================
  SEARCH VIEW - COLUMNS
========================================================================== */

.search-view_row_col-1 {
    /*
    min-width: 300px;
    max-width: 350px;
    display: none;
    */
}

.search-view_row_col-2 {
    width: 100%;
    margin: 0 300px;
}

.search-view_row_col-3 {
    /*
    min-width: 300px;
    max-width: 350px;
    display: none;
    */
}

/* ==========================================================================
  SEARCH VIEW - Headings
========================================================================== */

h3, h4 {
    width: 100%;
}


/* ==========================================================================
  SEARCH VIEW - Headings
========================================================================== */

.search-view_orcasoftheading {
    min-width: 20rem;
    max-width: 30rem;
    padding: 50px 0px 50px 0px;
}

/* ==========================================================================
  SEARCH VIEW - Item
========================================================================== */

vaadin-item[selected]::part(checkmark) {
    opacity: 0;
}