
/* ==========================================================================
  STELLENANGEBOT VIEW - LAYOUT
========================================================================== */

.stellenangebot-view {
    width: 100vw;

}

/* ==========================================================================
  STELLENANGEBOT VIEW - ROWS
========================================================================== */

.stellenangebot-view_row {

}

/* ==========================================================================
  STELLENANGEBOT VIEW - COLUMNS
========================================================================== */

.stellenangebot-view_row_col-1 {

}

.stellenangebot-view_row_col-1-sub {

}

.stellenangebot-view_row_col-2 {

}

.stellenangebot-view_row_col-3 {

}

/* ==========================================================================
  STELLENANGEBOT VIEW - OrcaSoft LOGO
========================================================================== */


/* ==========================================================================
  STELLENANGEBOT VIEW - Headings
========================================================================== */

h2, h4 {
    width: 100%;
}

/* ==========================================================================
  STELLENANGEBOT VIEW - Buttons
========================================================================== */

.stellenangebot-view_button-speichern {
    cursor: pointer;
}

.stellenangebot-view_button-abbrechen {
    cursor: pointer;
}

.stellenangebot-view_button-loeschen {
    background-color: indianred;
    color: white;
    cursor: pointer;
}

/* ==========================================================================
  SEARCH VIEW - Item
========================================================================== */

vaadin-item[selected]::part(checkmark) {
    opacity: 0;
}